* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color1 {
	color: #00d7b6;
}

.main {
	width: 80%;
	min-height: 100vh;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Navigation Bar */

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 16px;
	border-bottom: solid 1px gainsboro;
}

.menu-wrapper i {
	color: rgba(128, 128, 128, 0.602);
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
}

.nav-wrapper,
.menu-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	cursor: pointer;
}

.bold,
logo > i {
	font-weight: 900;
}

.cart-noti {
	position: relative;
}

.cart-noti > i::after {
	content: '1';
	background-color: red;
	color: white;
	font-size: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6px;
	width: 6px;
	padding: 4px;
	border-radius: 50%;
	position: absolute;
	top: -20%;
	right: -30%;
}

/* Content */
/* Left side, items */

.cart {
	display: flex;
	justify-items: center;
	align-items: flex-start;
	gap: 16px;
	padding-block: 16px;
}

.cart > * {
	flex-grow: 1;
	flex-shrink: 1;
}

.items-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	gap: 16px;
}

/* Display individual items */

.item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 16px 32px;
	gap: 32px;
	box-shadow: 2px 2px 4px 4px rgba(176, 176, 176, 0.2);
	border-radius: 16px;
}

.bin {
	border: solid 2px #00d7b6;
	aspect-ratio: 1/1;
	height: max-content;
	padding: 6px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-block: auto;
	cursor: pointer;
}

.bin > i {
	color: #00d7b6;
}

.bin:hover {
	background-color: #00d7b6;
}

.bin:hover > i {
	color: white;
}

.item01 .banner {
	background-image: url('./images/gradient-blue.jpg');
	background-size: cover;
	border-radius: 16px;
	padding: 16px 16px;
	aspect-ratio: 1/1;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.item02 .banner {
	background-image: url('./images/gradient-orange.jpg');
	background-size: cover;
	border-radius: 16px;
	padding: 16px 16px;
	aspect-ratio: 1/1;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.banner > .icon {
	background-color: white;
	aspect-ratio: 1/1;
	width: 25%;
}

.item01 .banner .icon {
	color: lightskyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

.item02 .banner .icon {
	color: lightcoral;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

/* Item Info */

.info-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 16px;
	padding: 32px 16px;
	margin-bottom: auto;
}

.info {
	display: flex;
	flex-direction: column;
}

.info-wrapper .text {
	font-size: 1.4rem;
}

.item-level {
	display: flex;
	gap: 8px;
	justify-content: flex-start;
	align-items: center;

	padding-block: 4px;
}

.difficulty {
	display: flex;
	gap: 4px;
}

.difficulty > .circle {
	width: 16px;
	height: 16px;
	border: solid 2px #00d7b6;
	border-radius: 50%;
}

select {
	border-radius: 8px;
	padding: 4px 8px;
	border: none;
	color: grey;
	cursor: pointer;
}

.select-diff {
	background-color: #00d7b6;
}

.info-wrapper .price {
	font-size: 1.2rem;
	color: grey;
}

/* Right side, cart total */

.order-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 32px;
	gap: 32px;
	border: solid 2px gainsboro;
	border-radius: 16px;
}

.order-info > div.bold {
	font-size: 1.25rem;
}

.subtotal-wrapper,
.promo-wrapper,
.total-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.subtotal-wrapper .text {
	color: gray;
}

.subtotal-wrapper .subtotal {
	font-size: 1.25rem;
}

.promo-wrapper > .icon > i {
	font-size: 32px;
}

.promo-wrapper > input {
	border: solid 2px lightgrey;
	padding: 8px 16px;
	border-radius: 16px;
	flex-basis: 100%;
}

.promo-wrapper > button {
	border: solid 2px #00d7b6;
	background-color: transparent;
	padding: 8px 32px;
	border-radius: 16px;
}

.promo-wrapper > button:hover {
	background-color: #00d7b6;
	color: white;
}

.total-wrapper {
	border-top: solid 1px gainsboro;
	padding-top: 32px;
}

.total-wrapper > .bold {
	font-size: 1.5rem;
}

.total-wrapper > .text {
	font-weight: 600;
}

.submit-payment {
	background-color: #00d7b6;
	border: none;
	padding: 16px 32px;
	border-radius: 8px;
}

.submit-payment:hover {
	background-color: black;
	color: #00d7b6;
}
